@use "sass:math";

$miniTablet: 480px;
$tablet: 768px;
$pc: 1024px;
$lineHeight: 1.5;
$headerFontSize: 3.231vw;

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --red: #ff4242;
  --green: #1c9d3c;
  --blue: #3f68f1;
  --orange: orange;
  --color: #fff;
  --bg-color: #131416;
  --border-color: #393939;
  --grey: #202020;
  --grey2: #2c2d2e;
  --grey3: #999;
  --disabled-color: #666;
  --site-padding: #{$headerFontSize};
  --row-hover-color: #{rgba(#449dfb, 0.2)};
  --manual-color: #8c8c8c;

  box-sizing: border-box;
  color: var(--color);
  background-color: var(--bg-color);
  font:
    16px/#{$lineHeight} "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    sans-serif;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  interpolate-size: allow-keywords;

  @media screen and (min-width: $tablet) {
    --site-padding: 0.75rem;
  }
}

[data-theme="light"] {
  --color: #131416;
  --bg-color: #fefefe;
  --border-color: #e0e0e0;
  --grey: #f0f0f0;
  --grey2: #e0e0e0;
  --disabled-color: #ccc;
  --manual-color: #aaa;
  color-scheme: light;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  margin: 2rem 0 1rem;
  font-size: 1.25rem;
  &:first-child {
    margin-top: 0;
  }
}

p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  width: 1em;
  :where(button) & {
    display: block;
    margin: auto;
  }
}

table {
  display: grid;
  grid-template-columns: min-content 1fr repeat(9, auto) min-content;
  gap: 1px;
  min-width: 100%;
  padding: 1px;
}

thead,
tbody {
  display: contents;
}

tr {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

tr {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  thead & {
    position: sticky;
    top: 0;
    z-index: 5;
    .stuck & {
      z-index: 100;
    }
  }
  tbody & {
    user-select: none;
    -webkit-user-select: none;

    :where(&:hover, &:focus-within) {
      td:not(.index) {
        background-color: var(--row-hover-color);
      }
    }
  }

  // ドラッグ中はテーブル外に移るため subgrid が効かずセルが縦並びになるのを防ぐ（主にスマホ）
  &.sortable-drag {
    grid-auto-flow: column;
  }
}

th,
td {
  display: block;
  width: 100%;
  box-shadow: 0 0 0 1px var(--border-color);
  padding: 0;
  border: 0;
  text-align: inherit;
}

th {
  padding: 0.5em 1em;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  thead & {
    position: relative;
    z-index: -1;
    background: var(--grey);
  }
}
td {
  position: relative;
  background: var(--bg-color);
  transition: background-color 0.2s ease-in-out;
  &:not(.index) {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.125em;
      outline: 2px solid var(--green);
      content: "";
      pointer-events: none;
    }
    &:focus-within {
      &:before {
        opacity: 1;
      }
    }
    input {
      &:focus {
        outline: none;
      }
    }
  }
}

ul {
  margin: 1em 0;
  padding-left: 1.5em;
}

dl {
  margin: 1em 0;
}

dt,
dd {
  margin: 0;
}

dt {
  margin-bottom: 0.25em;
  font-weight: 700;
  svg {
    height: 1em * $lineHeight;
    vertical-align: top;
  }
  dd + & {
    margin-top: 0.75em;
  }
}

dd {
  margin-left: 1em;
}

input,
button {
  max-width: 100%;
  vertical-align: top;
  box-shadow: none;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-shadow: none;
  resize: none;
  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

::-webkit-input-placeholder {
  font-size: 0.75em;
}

button {
  cursor: pointer;
  &:disabled {
    background: var(--disabled-color);
    color: var(--color);
  }
}

.button,
[class^="button-"],
[class*=" button-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  width: fit-content;
  background-color: var(--blue);
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button {
  &-menu {
    grid-area: menu;
    aspect-ratio: 1/1;
    box-shadow: 0 0 0 1px var(--manual-color) inset;
    padding: 0.3125em;
    background: var(--bg-color);
    color: var(--color);
    svg {
      font-size: 1.375em;
    }
    path {
      transform-origin: 50% 50%;
      transition: transform 0.2s;
    }
    &[aria-expanded="true"] {
      path {
        transform: rotate(45deg);
        &:first-child {
          transform: rotate(45deg) translateY(5px);
        }
        &:last-child {
          transform: rotate(-45deg) translateY(-5px);
        }
      }
    }
  }
  &-theme {
    box-shadow: 0 0 0 1px #666 inset;
    background-color: var(--bg-color);
    color: var(--color);
  }
  &-remove {
    background-color: var(--red);
  }
  &-preview {
    background-color: var(--green);
  }
  &-select {
    min-width: 6em;
    &:disabled {
      opacity: .75;
    }
  }
  &-export {
    background-color: var(--green);
  }
  &-manual {
    padding-inline: 0.2857143em;
    background: var(--manual-color);
    color: #fff;
    svg {
      font-size: 1.4286em;
    }
  }
}

input:where([type="text"], [type="date"], [type="number"]) {
  width: 100%;
  padding: 0.375em 0.75em;
  background-color: transparent;
  field-sizing: content;
}

input:where([type="date"], [type="number"]) {
  padding-inline: 0.5em;
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: none;
  appearance: none;
  width: 5em;
  text-align: center;
}

input[type="date"] {
  height: 2.25em;
  padding-block: 0;
  text-align: right;
}

input[type="checkbox"] {
  --size: 1.5em;
  display: block;
  appearance: none;
  cursor: pointer;
  width: calc(var(--size) * 1.75);
  height: var(--size);
  margin: 0;
  padding: 0;
  border-radius: 1em;
  background: var(--border-color);
  font-size: 1em;
  transition: background-color 0.3s;
  &::before {
    display: block;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fff;
    scale: 0.85;
    transition: translate 0.3s;
    content: "";
  }

  &:checked {
    background-color: var(--blue);
    &::before {
      translate: calc(var(--size) * 0.75) 0;
    }
  }
}

input[type="file"] {
  display: none;
}

.menu,
[role="dialog"],
[role="alertdialog"] {
  width: 90%;
  max-height: 90vh;
  max-height: 90dvh;
  overflow: auto;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  box-shadow:
    0 0 0 0.5px var(--border-color),
    0 0.625em 1.5em rgba(0, 0, 0, 0.2);
  background: var(--bg-color);
  color: var(--color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.25em;
  width: fit-content;
  cursor: pointer;
}

.site {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 100%;
  height: 100vh;
  height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
}

.site-header {
  display: grid;
  position: relative;
  grid-template-areas: "remove controls menu";
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
  padding: var(--site-padding);
  padding-inline: calc(var(--site-padding) + env(safe-area-inset-left));
  padding-bottom: 0;
  font-size: min(1rem, $headerFontSize);
  @media screen and (min-width: $tablet) {
    grid-template-areas: "title remove controls  menu";
    grid-template-columns: auto auto 1fr auto;
    gap: 0.75em;
    font-size: 1em;
  }
}

.site-title {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: 2.5rem;
    font-size: 1.25rem;
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: var(--site-padding);
  right: calc(var(--site-padding) + env(safe-area-inset-left));
  z-index: 9999;
  width: auto;
  max-height: calc(100vh - 4em);
  max-height: calc(100dvh - 4em);
  margin-top: 0.5em;
  padding: 0;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid var(--border-color);
    padding: 0.125em;
    &:first-child {
      border-radius: 0.4em 0.4em 0 0;
    }
  }
  :is(button, label) {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    width: 100%;
    padding: 0.75em;
    border-radius: inherit;
    background: transparent;
    color: var(--color);
    text-align: left;
    cursor: pointer;
    svg {
      margin: 0;
    }
    &:hover {
      background: var(--grey);
    }
    &:disabled {
      cursor: not-allowed;
      &:hover {
        background: transparent;
      }
    }
  }
}

.x-link {
  display: flex;
  grid-area: x;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  opacity: 0.5;
  margin: 0.5em 1em 1em auto;
  color: inherit;
  font-size: 0.75em;
  text-decoration: none;
  svg {
    width: 1em;
  }
}

.header-controls {
  display: flex;
  grid-area: controls;
  gap: 0.5em;
  margin-left: auto;
  @media screen and (min-width: $miniTablet) {
    justify-content: center;
    gap: 0.5em;
  }
  @media screen and (min-width: $tablet) {
    justify-content: flex-end;
  }
}

.switch-remove-mode {
  grid-area: remove;
  svg {
    font-size: 1.25em;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 0.5em;
  }
}

.table-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.table-wrap {
  width: max-content;
  min-width: 100%;
  margin-bottom: 4.5rem;
  padding-inline: var(--site-padding);
  padding-inline: calc(var(--site-padding) + env(safe-area-inset-left));
}

.sentinel {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
}

.add-row,
.clear-rows {
  position: fixed;
  right: 1rem;
  right: calc(1rem + env(safe-area-inset-left));
  bottom: 1rem;
  bottom: calc(1rem + env(safe-area-inset-bottom));
  z-index: 10;
  box-shadow: 0 0 0.5em rgba(#000, 0.25);
  padding: 0.5em;
  background-color: var(--blue);
  border-radius: 50%;
  color: #fff;
  font-size: 1.5em;
  touch-action: manipulation;
  &:disabled {
    display: none;
  }
}

.sortable-col {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  cursor: pointer;
  .context-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
  }
}

.clear-rows {
  background: var(--red);
}

.col-index {
  padding: 0;
  background: var(--bg-color);
  box-shadow: 1px 0 0 var(--bg-color);
}

.index {
  display: flex;
  position: sticky;
  left: var(--site-padding);
  left: calc(var(--site-padding) + env(safe-area-inset-left));
  z-index: 20;
  align-items: center;
  min-width: 1.875rem;
  box-shadow: none;
  margin-right: 0.5rem;
  background: transparent;
  transition: none;
  font-size: 0.875em;
}

.drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.875rem;
  height: 1.875rem;
  box-shadow: 0 0 0 0.5px var(--border-color) inset;
  padding: 0.125em;
  border-radius: 0.25rem;
  background-color: var(--grey);
  vertical-align: middle;
  text-align: center;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  svg {
    display: block;
    width: 1.5em;
    margin: auto;
  }
}

.remove-row {
  width: 1.875rem;
  aspect-ratio: 1/1;
}

.floating-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 20;
  max-width: 12.5em;
  height: fit-content;
  overflow: hidden;
  opacity: 0;
  margin: auto;
  padding: 0.25em;
  border-radius: 0.25em;
  background: var(--grey);
  box-shadow: 0 0 0 1px var(--border-color);
  transition: opacity 0.2s ease-in-out;
  font-size: 0.75em;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  &:empty {
    display: none;
  }
  .title-stuck & {
    opacity: 1;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.with-unit {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.25em;
  padding-right: 0.25em;
  input {
    width: auto;
    text-align: right;
  }
}

.controls {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  padding: 1rem var(--site-padding);
  padding-inline: calc(var(--site-padding) + env(safe-area-inset-left));
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  border-top: 1px solid var(--border-color);
  background: var(--bg-color);
}

.image-control {
  display: grid;
  grid-auto-flow: column;
  gap: 0.25em;
  padding: 0.125em;
}

.input-image {
  cursor: pointer;
  input {
    display: none;
  }
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  background: rgba(#000, 0.65);
  backdrop-filter: blur(1px);
}

.alert-overlay {
  z-index: 10000;
}

.image-preview {
  img {
    max-width: 90vw;
    max-height: 90vh;
    max-height: 90dvh;
    object-fit: contain;
  }
}

.context-menu {
  position: fixed;
  z-index: 2000;
  min-width: 10rem;
  padding: 0.25rem 0;
  background: var(--grey2);
  border-radius: 0.25rem;
  box-shadow:
    0 0 0 0.5px var(--border-color),
    0 0.625em 1.5em rgba(0, 0, 0, 0.2);

  &-item {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    border: 0;
    background: transparent;
    color: var(--color);
    font: inherit;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background: var(--grey);
    }

    &-danger:hover {
      background: var(--red);
      color: #fff;
    }
  }
}

.alert-dialog {
  display: grid;
  grid-template-areas: "content" "actions";
  grid-template-rows: 1fr auto;
  gap: 1.25em 0;
  max-width: 400px;
  overflow: hidden;
  p {
    margin: 0;
    font-size: 0.9375em;
    white-space: pre-line;
    text-align: inherit;
  }
  strong {
    font-weight: inherit;
  }
}

.manual-dialog {
  font-size: 0.875rem;
  .button-close {
    margin: 1.5rem auto 0;
  }
  @media screen and (min-width: $tablet) {
    width: 40rem;
  }
  @media screen and (min-width: $pc) {
    font-size: 1rem;
  }
}

.shortcut {
  span {
    display: inline-block;
    line-height: 1.7143;
    vertical-align: top;
    color: var(--grey3);
    font-weight: 400;
    font-size: 0.875em;
  }
}

.dialog-content {
  grid-area: content;
  height: 100%;
}

.dialog-actions {
  display: flex;
  grid-area: actions;
  justify-content: end;
  gap: 1em;
  button {
    padding: 0;
    background: transparent;
    color: #3b90ff;
    font-size: 0.9375em;
    @media (pointer: fine) {
      &:focus {
        outline: 1px solid var(--orange);
        border-radius: 0.25em;
      }
    }
  }
}

.dialog-ok {
  font-weight: 700;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
